{% extends "base.html" %}
{% block title %}
    Wiki Gaming
{% endblock title %}

{% block content %}
    <div>
        <h2>Featured Games</h2>
        <div style="display: flex; flex-wrap: wrap;">
            {% for game in home_data %}
            <div style="flex: 1; margin: 10px; border: 1px solid #ccc; padding: 10px;">
                <h3>{{ game.name }}</h3>
                <a href={{ game.name }}><img src="{{ url_for('static', filename='images/' + game.icon) }}" alt="{{ game.name }}" width="200px" height="200px"></a>
                <p>Price: ${{ game.price }}</p>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.add_to_cart(class="btn btn-primary") }}
                    <input type="hidden" name="game_id" value="{{ game.id }}">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}