{% extends "base.html" %}
{% block title %}
	Wiki Gaming
{% endblock title %}

{% block content %}
    {% for games in value %}
        <p><b>{{ games.name }}</b></p>
        <p>
            <a href="{{ url_for('wiki.display', url=games.name.lower().replace(" ", "_")) }}"
               class="btn-without-border">
                <img src="/static/images/{{ games.icon }}"
                    width="200px"
                    height="200px">
            </a>
        </p>
    {% endfor %}
{% endblock %}
